@charset "utf-8";
/* CSS Document */
@media (max-width: 1280px) {
    .profile-thumb
    {
    }
}
@media (max-width: 1024px) {
    footer .amigos_une_amigos img
    {
        width: 400px;
        padding: 20px 0;
    }
    .profile-thumb
    {
    }
    .marco_video
    {
        background: transparent url(../img/marco.gif) no-repeat top center;
    }
}

@media (max-width: 970px) {


    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar form
    {
        left: 16%;
        zoom: 0.7;
    }

}


@media (max-width: 768px) {

    .profile-thumb
    {
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar p
    {
        font-size: 14px;
    }
    .marco_video
    {
        background: transparent url(../img/marco.gif) no-repeat center 33%;
    }
    



}

@media (max-width: 767px) {
    .profile-thumb
    {
        position: fixed;
    }
    .wrapper .content_buscar_amigo
    {
        background: rgba(0,0,0,1);
    }
    video#vid2.vid2
    {
        left: 0;
        height: calc(100% - 360px);
    }
    #vid {
        position:absolute;

    }
    .vid2
    {
        height: calc(100% - 54%);
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar form
    {
        left: initial;
        zoom: 1;
    }
    .marco_video img.play_vid2
    {
        width: 50%;
        margin: 0 auto;
    }

    footer .box_share a.legal
    {
        margin: 5px 0 0 0;
        height: 7px;
    }
    footer .amigos_une_amigos
    {
        display: none;
    }
    body
    {
        overflow: initial;
    }
    .wrapper  .content_video .play
    {
        top: inherit;
    }
    img.mobile
    {
        margin: 0 auto 30px;
    }
    .mobile
    {
        display: block !important;
    }
    .desktop
    {
        display: none !important;
    }
    .wrapper
    {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 0%;
        position: relative;
        overflow: hidden;
        height: auto;
    }
    footer
    {
        position: relative;
        text-align: center;
        margin-top: 30px;
    }
    footer .mail
    {
        position: relative;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .wrapper .content_pops
    {
        background:rgba(0, 0, 0, 0.65);
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .visible_not
    {

    }
    .wrapper  .content_video
    {
        position: inherit;
        width: 100%;
        height: 330px;
        overflow: hidden;
    }
    .wrapper .content_facebook_connect,
    .wrapper .content_ingresar
    {
        height: auto;
        width: 90%;
        padding: 5%;
        position: relative;
        top: 0;
    }
    .wrapper .content_facebook_connect
    {
        position: absolute;
    }
    .wrapper .content_ingresar p
    {
        font-size: 22px;
    }
    .wrapper .content_ingresar form .border_gradient
    {
        width: 78px;
    }
    .wrapper .content_ingresar form .border_gradient:nth-child(2)
    {
        margin: 0px 10px 0px;
    }
    .wrapper .content_ingresar form input.ingresar
    {
        margin: 20px auto 0px;
    }
    .wrapper .content_pops .alerta_facebook
    {
        height: auto;
        top: inherit;
    }
    .wrapper .content_pops .alerta_facebook p
    {
        padding: 30px 15% 30px;
        font-size: 18px;
        line-height: 24px;
    }

    .wrapper .content_buscar_amigo
    {
        position: relative;
        height: 100%;
    }
    #step_1, #step_2, #step_3
    {
        border-top: 1px solid #ed1a3b;
        padding-top: 15px;
        position: relative;
    }
    .wrapper .content_buscar_amigo .content_reportar
    {
        border:none;
    }
    .wrapper .content_buscar_amigo p
    {
        padding: 0 20%;
        width: 60%;
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar p
    {
        padding: 0 5%;
        width: 90%;
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar form img
    {
        display: none;
    }
    .wrapper .content_buscar_amigo #step_2 .content_reportar
    {
        margin-top: 0px;
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar form .border_gradient,
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar form  input.reportar
    {
        float: none;
        margin: 0 auto 30px;
        display: block;
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar .modificar
    {
        width: 266px;
        background-size: cover;
        height: 47px;
        line-height: 48px;
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar .reportar_facebook
    {
        width: 266px;
    }
    .wrapper .content_buscar_amigo #step_3 p
    {
        padding: 0 7.5%;
        width: 85%;
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar .compartir_facebook
    {
        background: url(../img/compartir_facebook_m.png) no-repeat;
        width: 267px;
        height: 44px;
        float: none;
        text-indent: 60px;
        margin: 30px auto 10px;
        display: block;
    }
    footer .box_share.mobile
    {
        float: none;
        margin: 30px auto;
        width: 150px;
        position: relative;
    }
    .wrapper .content_buscar_amigo .content_reportar .content_form_reportar form .border_gradient .box_amigos_facebook .box_perfil img
    {
        display: block;
    }


}
@media (max-width: 414px) {
    #vid
    {
        transform: translate(-50%, -65%);
    }
    .vid2
    {
        height: calc(100% - 67%);
        width: 100%;
    }
    .wrapper  .content_video
    {
        height: 240px;
    }
    .marco_video img.play_vid2
    {
        width: 90%;
        margin: 0 auto;
    }
    .profile-thumb
    {

    }
}

@media (max-width: 375px) {
    .profile-thumb
    {
       
    }
    #vid
    {
        transform: translate(-50%, -53%);
    }
    .vid2
    {
        height: calc(100% - 68%);
        width: 100%;
    }
    .wrapper  .content_video
    {
        height: 212px;
    }
}
@media (max-width: 320px) {
    #vid
    {
        transform: translate(-50%, -55%);
    }
    .vid2
    {
        height: calc(100% - 385px);
        width: 100%;
    }
    .wrapper  .content_video
    {
        height: 181px;
    }
    .profile-thumb
    {
        
    }




}